<div class="container">
    <nav class="navbar">
        <img class="logo" src="/img/logo-DH.png" alt="Logo Digital House">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/genres">Géneros</a></li>
            <li><a href="/movies">Películas</a></li>
            <li><a href="/actors">Actores</a></li>
            <li><a href="/movies/new">Novedades</a></li>
            <li><a href="/movies/recommended">Recomendaciones</a></li>
        </ul>
    </nav>
</div>